---
layout: page
---

<header class="header">
	<button id="navicon" class="navicon">Menu</button>

	<nav role="navigation" class="primary-nav" tab-index="0">
		<a class="about{% if page.class == 'home' %} active {% endif %}" href="/">About</a>
		<a class="blog{% if page.class == 'blog' %} active {% endif %}" href="/blog">Blog</a>
		<a class="portfolio{% if page.class == 'portfolio' %} active {% endif %}" href="/portfolio">Portfolio</a>
		<a class="contact{% if page.class == 'contact' %} active {% endif %}" href="/contact">Contact</a>
	</nav>

	<div class="header-text {% if page.class == 'home' %}h-card{% endif %}">
		<a class="logo u-logo" href="/" title="home">MS</a>
		
		<h1 class="title">{% if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h1>

		{% if page.subheader %}{{ page.subheader }}{% endif %}

		{% if page.class == "home" %}

			<div class="prefetch">
				<img src="//img.mstrutt.co.uk/illustration.png" alt="" />
				<img src="//img.mstrutt.co.uk/rating-stars.png" alt="" />
			</div>

			<div class="header-text-lower">
				<p class="subtitle">a <strong class="p-job-title">front-end web developer</strong> based in <span class="p-locality">London</span></p>
				{% include social-links.html %}
			</div>

		{% endif %}

	</div>
</header>

<div class="main {% if page.class == 'home' %}h-resume{% endif %}" role="main">
	{{ content }}
</div>	