{
	"env": {
		"browser": true
	},
	"rules": {
		"quotes": 0,
		"camelcase": 0,
		"curly": 1,
		"strict": 0,
		"eol-last": 0,
		"no-console": 1,
		"block-scoped-var": 2,
		"quote-props": [2, "consistent-as-needed"],
		"no-else-return": 2,
		"no-eq-null": 1,
		"no-floating-decimal": 1,
		"no-self-compare": 1,
		"no-void": 1,
		"radix": 2,
		"vars-on-top": 2,
		"wrap-iife": [2, "inside"],
		"no-undefined": 2,
		"brace-style": [2, "1tbs"],
		"comma-style": [2, "last"],
		"no-lonely-if": 2,
		"no-multiple-empty-lines": 2,
		"no-nested-ternary": 2,
		"operator-assignment": [2, "always"],
		"keyword-spacing": 2,
		"space-before-blocks": [2, "always"],
		"space-before-function-paren": [2, {
			"anonymous": "never",
			"named": "always"
		}],
		"object-curly-spacing": [2, "never"],
		"array-bracket-spacing": [2, "never"],
		"computed-property-spacing": [2, "never"],
		"space-in-parens": [2, "never"],
		"spaced-comment": [2, "always"],
		"indent": [2, "tab"],
		"space-unary-ops": [2, {
			"words": true
		}]
	}
}