@font-face {
    font-family: 'Enriqueta';
    font-style: normal;
    font-weight: 400;
    src: url('http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Regular-webfont.eot');
    src: url('http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Regular-webfont.woff') format('woff'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Regular-webfont.ttf') format('truetype'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Regular-webfont.svg#EnriquetaRegular') format('svg');
}

@font-face {
    font-family: 'Enriqueta';
    font-style: normal;
    font-weight: 700;
    src: url('http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Bold-webfont.eot');
    src: url('http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Bold-webfont.woff') format('woff'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Bold-webfont.ttf') format('truetype'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Bold-webfont.svg#EnriquetaBold') format('svg');
}

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: url('http://cdn.mstrutt.co.uk/assets/fonts/Lora-BoldItalic-webfont.eot');
    src: url('http://cdn.mstrutt.co.uk/assets/fonts/Lora-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/Lora-BoldItalic-webfont.woff') format('woff'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/Lora-BoldItalic-webfont.ttf') format('truetype'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/Lora-BoldItalic-webfont.svg#LoraBoldItalic') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Regular-webfont.eot');
    src: url('http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Semibold-webfont.eot');
    src: url('http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
}