.header {
	position: relative;
	border-top: 70px solid $white;
	background: $green url(//img.mstrutt.co.uk/noise.png);
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	z-index: 2;

	.title {
		padding: 1.5rem 2rem;
		margin: 0 3.125%;

		@media (min-width: 60em) {
			padding: 1.5rem 10rem 1.5rem 2rem;
		}
	}

	.subtitle {
		color: $midgrey;
	}

	.logo {
		position: absolute;
		top: -79px;
		left: 9px;
		display: inline-block;
		height: 88px;
		width: 88px;
		font: 38px/96px $fontEnriqueta;
		border-radius: 50%;
		background: url('//img.mstrutt.co.uk/noise.png') $logogrey;
		color: $white;
		text-align: center;
		transform: rotate(-7.5deg) scale(1.01);
		/*&:hover {
			transform: rotate(352.5deg) scale(1.01);
			transition: ease-out .6s;
		}*/
	}
}

.home .header {
	border-bottom: 10px solid #E4E4E4;
	text-align: center;
	
	.title {
		padding: 1.5rem 0 110%;
		margin: 0;
		background: url(//img.mstrutt.co.uk/illustration.png) 55% 100% no-repeat;
		background-size: 125% auto;
	}

	.illustration {
		display: none;
	}

	.header-text-lower {
		position: relative;
		padding: 1px 0 0;
		background: $lightgrey;

		&:before {
			content: "";
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			height: 50px;
			background: linear-gradient(to bottom, rgba(248,248,248,0), $lightgrey);
		}
	}

	.social-links {
		margin: 15px 0 0;
		padding: 0 0 15px;
	}
}

.social-links {
	text-align: center;

	> a {
		display: inline-block;
		padding: 12px;
		margin: 5px 0;
		border-radius: 50%;
		background-color: rgb(63,63,63);
		background-color: rgba(63,63,63,.3);
		color: $verylightgrey;
		transition: .2s;

		&:focus,
		&:active,
		&:hover {
			background-color: rgba(63,63,63,.6);
			transform: scale(1.1, 1.1);
			outline: none;
		}

		> svg {
			display: block;
		}

		+ a {
			margin-left: 10px;
		}
	}
}

.header .primary-nav {
	> a:focus,
	> a:active,
	> a.active,
	> a:hover {
	
		@media (max-width: 59.9375em) { //959px
			box-shadow: inset 0 0 15px 5px $orange;
		}

		@media (min-width: 60em) { // 960px
			background: $deepOrange;
		}

		&:before {
			opacity: 1;
		}

		&.about:before {background-position: 0 100%;}
		&.blog:before {background-position: 33% 100%;}
		&.portfolio:before {background-position: 66% 100%;}
		&.contact:before {background-position: 100% 100%;}

		@media (min-width: 60em) { // 960px
			&:not(.active) {
				outline: none;
			}
		}
	}

	@media (min-width: 60em) { // 960px
		> a.active:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 0;
			width: 0;
			background: url("//img.mstrutt.co.uk/noise.png") $lightgrey;
			border-radius: 0 0 5px 0;
			// transition: .2s;
			border: 10px solid transparent;
			border-color: transparent white white transparent;
			box-shadow: 3px 3px 6px rgba(0, 0, 0, .1), inset -7px -7px 15px -20px rgba(0,0,0,.2);
		}
	}
}

.see-my-code {
	height: 70px;
	margin-bottom: -20px;
	background: url("//img.mstrutt.co.uk/noise.png") $grey;
	box-shadow: inset 0 -2px 10px -5px rgba(0,0,0,.2);

	.inner {
		position: relative;

		@media (min-width: 60em) { // 960px
			width: 84%;
			margin-left: 12%;
			margin-right: auto;
		}

		@media (min-width: 75em) { // 1200px
			width: 1000px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.close {
		display: inline-block;
		margin: 20px 0;
		cursor: pointer;
		font-size: 1.6rem;
		line-height: 1.25em;
		font-family: $fontOpenSans;
		font-weight: normal;
		font-style: normal;
		color: $darkgrey;

		&:before {
			content: "X";
			display: inline-block;
			margin-right: .5em;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			vertical-align: middle;
			color: transparent;
			background: url("//img.mstrutt.co.uk/arrow-sprite.png") no-repeat -45px -5px #888;
			cursor: pointer;
			border-radius: 5px;
		}

		&:active {
			transform: translateY(1px);
		}
	}

	.view-code {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		font-size: 1.6rem;
		line-height: 70px;

		.button {
			margin-left: 1em;
		}
	}

	span {
		display: inline-block;
		vertical-align: top;
	}

	@media (max-width: 59.9375em) { // 959px
		display: none !important; // to override the inline styles
	}
}

.is-hidden {
	height: 0;
	margin: 0;
	opacity: 0;
	overflow: hidden;
	transition: .5s;
}