/* Resets */
body {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

/* Helper */
.ir, .social-links > a {
  overflow: hidden;
  	/** /
   	white-space: nowrap;
  	text-indent: 100%;
  	/*/
  /**/ }
  .ir:before, .social-links > a:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%; }

.prefetch {
  display: none; }

/* Palette */
/* Typography */
@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 400;
  src: url("http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Regular-webfont.eot");
  src: url("http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Regular-webfont.woff") format("woff"), url("http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Regular-webfont.ttf") format("truetype"), url("http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Regular-webfont.svg#EnriquetaRegular") format("svg"); }

@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 700;
  src: url("http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Bold-webfont.eot");
  src: url("http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Bold-webfont.woff") format("woff"), url("http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Bold-webfont.ttf") format("truetype"), url("http://cdn.mstrutt.co.uk/assets/fonts/Enriqueta-Bold-webfont.svg#EnriquetaBold") format("svg"); }

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url("http://cdn.mstrutt.co.uk/assets/fonts/Lora-BoldItalic-webfont.eot");
  src: url("http://cdn.mstrutt.co.uk/assets/fonts/Lora-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("http://cdn.mstrutt.co.uk/assets/fonts/Lora-BoldItalic-webfont.woff") format("woff"), url("http://cdn.mstrutt.co.uk/assets/fonts/Lora-BoldItalic-webfont.ttf") format("truetype"), url("http://cdn.mstrutt.co.uk/assets/fonts/Lora-BoldItalic-webfont.svg#LoraBoldItalic") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Regular-webfont.eot");
  src: url("http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Regular-webfont.woff") format("woff"), url("http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Semibold-webfont.eot");
  src: url("http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("http://cdn.mstrutt.co.uk/assets/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg"); }

html {
  font-size: 10px; }

body {
  font-size: 1.4rem;
  line-height: 1.25em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #404040;
  overflow-y: scroll; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Enriqueta", serif;
  font-weight: normal; }

p, .markdown ul li,
label {
  font-size: 1.4rem;
  line-height: 3rem;
  margin: 1em 0; }

a {
  font-family: "Lora", serif;
  font-size: 1.05em;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  color: #f29925;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  a:focus, a:active, a:hover {
    color: #f77913; }

.touch p > a, .touch .markdown ul li > a, .markdown ul .touch li > a {
  position: relative; }
  .touch p > a:before, .touch .markdown ul li > a:before, .markdown ul .touch li > a:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px; }

.title {
  font-size: 3.6rem;
  line-height: 4rem;
  font-family: "Enriqueta", serif;
  font-weight: normal;
  color: #404040;
  margin: .8em 0 .5em; }
  .title strong {
    display: block;
    font-weight: bold;
    color: white; }

.subtitle {
  font-size: 2.2rem;
  line-height: 3rem;
  font-family: "Enriqueta", serif;
  font-weight: normal;
  margin: 10px 0; }
  .subtitle strong {
    color: #404040;
    font-weight: bold; }
  .subtitle.subheader {
    display: inline-block;
    padding: 0 2rem 2rem;
    margin: -.5rem 3.125% 0; }
    @media (min-width: 60.9375em) {
      .subtitle.subheader {
        margin-left: 0;
        margin-right: 0; } }
    @media (min-width: 75em) {
      .subtitle.subheader {
        padding-left: 8rem;
        padding-right: 8rem; } }

.intro {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 600; }

.breadcrumbs {
  margin: 1.5em 0 -1.2em; }

/* Global */
body {
  position: relative;
  min-width: 320px;
  padding-bottom: 20px;
  background: url("http://cdn.mstrutt.co.uk/assets/images/noise.png") #f8f8f8; }

.main {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 93.75%;
  margin: -.8em auto 4rem;
  padding: .2rem 2rem;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 16px 20px -20px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 10px 10px; }
  .main:before, .main:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 10px;
    right: 10px;
    height: 10px;
    background: white;
    border-radius: 0 0 10px 10px;
    z-index: -1; }
  .main:before {
    bottom: -20px;
    left: 20px;
    right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 7px 15px -4px rgba(0, 0, 0, 0.5); }
  .main:after {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 5px 13px -4px rgba(0, 0, 0, 0.3); }
  .main > p:first-child, .markdown ul .main > li:first-child,
  .main > article > p:first-child,
  .markdown ul .main > article > li:first-child {
    margin-top: 3rem; }

.header {
  position: relative;
  border-top: 70px solid white;
  background: #bfd75f url(http://cdn.mstrutt.co.uk/assets/images/noise.png);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2; }
  .header .logo {
    position: absolute;
    top: -79px;
    left: 9px;
    display: inline-block;
    height: 88px;
    width: 88px;
    font: 38px/96px "Enriqueta", serif;
    border-radius: 50%;
    background: url("http://cdn.mstrutt.co.uk/assets/images/noise.png") #3e3e3e;
    color: white;
    text-align: center;
    -webkit-transform: rotate(-7.5deg) scale(1.01);
    -ms-transform: rotate(-7.5deg) scale(1.01);
    transform: rotate(-7.5deg) scale(1.01);
    /*&:hover {
    	@include transform(rotate(352.5deg) scale(1.01));
    	@include transition(ease-out .6s);
    }*/ }
  .header .navicon {
    position: absolute;
    top: -60px;
    right: 3.125%;
    height: 50px;
    width: 50px;
    background: #f29925;
    border-radius: 5px;
    -webkit-transition: linear 0.05s;
    transition: linear 0.05s;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%; }
    .header .navicon.open {
      height: 60px;
      border-radius: 5px 5px 0 0; }
    .header .navicon:before {
      content: "";
      display: block;
      position: absolute;
      top: 11px;
      left: 12px;
      right: 12px;
      height: 3px;
      border-radius: 3px;
      box-shadow: 0 3px 0 white, 0 12px 0 white, 0 21px 0 white; }
  .header .primary-nav {
    position: absolute;
    display: table;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    box-shadow: inset 0 -15px 10px -10px #E69123;
    -webkit-transition: opacity linear 0.2s;
    transition: opacity linear 0.2s; }
    .header .primary-nav.open {
      opacity: 1;
      pointer-events: all; }
    .header .primary-nav > a {
      display: table-cell;
      width: 25%;
      text-align: center;
      vertical-align: middle;
      padding: 4% 0 3%;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2rem;
      font-style: normal;
      background: #f29925;
      color: white; }
      .header .primary-nav > a:before {
        content: "";
        display: block;
        height: 0;
        width: 60%;
        padding: 0 0 48%;
        margin: auto;
        background: url("http://cdn.mstrutt.co.uk/assets/images/nav-icons-large.png") 0 0 no-repeat;
        background-size: auto 200%;
        opacity: .7; }
      .header .primary-nav > a.blog:before {
        background-position: 33% 0; }
      .header .primary-nav > a.portfolio:before {
        background-position: 66% 0; }
      .header .primary-nav > a.contact:before {
        background-position: 100% 0; }
  .header .title {
    padding: 1.5rem 2rem;
    margin: 0 3.125%; }
  .header .subtitle {
    color: #6c6c6c; }

.home .header {
  border-bottom: 10px solid #E4E4E4;
  text-align: center; }
  .home .header .title {
    padding: 1.5rem 0 110%;
    margin: 0;
    background: url(http://cdn.mstrutt.co.uk/assets/images/illustration.png) 55% 100% no-repeat;
    background-size: 125% auto; }
  .home .header .illustration {
    display: none; }
  .home .header .header-text-lower {
    position: relative;
    padding: 1px 0 0;
    background: #f8f8f8; }
    .home .header .header-text-lower:before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 50px;
      background-color: rgba(248, 248, 248, 0);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248, 248, 248, 0)), color-stop(100%, #f8f8f8));
      background-image: -webkit-linear-gradient(top, rgba(248, 248, 248, 0), #f8f8f8);
      background-image: linear-gradient(to bottom,rgba(248, 248, 248, 0), #f8f8f8); }
  .home .header .social-links {
    margin: 15px 0 0;
    padding: 0 0 15px; }

.social-links {
  text-align: center; }
  .social-links > a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url("http://cdn.mstrutt.co.uk/assets/images/social-icons.png") 0 0 no-repeat #3f3f3f;
    background-color: rgba(63, 63, 63, 0.3);
    border-radius: 50%;
    margin: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .social-links > a:focus, .social-links > a:active, .social-links > a:hover {
      background-color: rgba(63, 63, 63, 0.6);
      -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      outline: none; }
  .social-links > .linkedin {
    background-position: -60px 0; }
  .social-links > .twitter {
    background-position: -120px 0; }

@media (max-width: 59.9375em) {
  .header .primary-nav > a:focus,
  .header .primary-nav > a:active,
  .header .primary-nav > a.active,
  .header .primary-nav > a:hover {
    box-shadow: inset 0 0 15px 5px #f29925; } }
@media (min-width: 60em) {
  .header .primary-nav > a:focus,
  .header .primary-nav > a:active,
  .header .primary-nav > a.active,
  .header .primary-nav > a:hover {
    background: #f77913; } }
.header .primary-nav > a:focus:before,
.header .primary-nav > a:active:before,
.header .primary-nav > a.active:before,
.header .primary-nav > a:hover:before {
  opacity: 1; }
.header .primary-nav > a:focus.about:before,
.header .primary-nav > a:active.about:before,
.header .primary-nav > a.active.about:before,
.header .primary-nav > a:hover.about:before {
  background-position: 0 100%; }
.header .primary-nav > a:focus.blog:before,
.header .primary-nav > a:active.blog:before,
.header .primary-nav > a.active.blog:before,
.header .primary-nav > a:hover.blog:before {
  background-position: 33% 100%; }
.header .primary-nav > a:focus.portfolio:before,
.header .primary-nav > a:active.portfolio:before,
.header .primary-nav > a.active.portfolio:before,
.header .primary-nav > a:hover.portfolio:before {
  background-position: 66% 100%; }
.header .primary-nav > a:focus.contact:before,
.header .primary-nav > a:active.contact:before,
.header .primary-nav > a.active.contact:before,
.header .primary-nav > a:hover.contact:before {
  background-position: 100% 100%; }
@media (min-width: 60em) {
  .header .primary-nav > a:focus:not(.active),
  .header .primary-nav > a:active:not(.active),
  .header .primary-nav > a.active:not(.active),
  .header .primary-nav > a:hover:not(.active) {
    outline: none; } }
@media (min-width: 60em) {
  .header .primary-nav > a.active:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 0;
    width: 0;
    background: url("http://cdn.mstrutt.co.uk/assets/images/noise.png") #f8f8f8;
    border-radius: 0 0 5px 0;
    border: 10px solid transparent;
    border-color: transparent white white transparent;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), inset -7px -7px 15px -20px rgba(0, 0, 0, 0.2); } }

.see-my-code {
  height: 70px;
  margin-bottom: -20px;
  background: url("http://cdn.mstrutt.co.uk/assets/images/noise.png") #d1d1d1;
  box-shadow: inset 0 -2px 10px -5px rgba(0, 0, 0, 0.2); }
  .see-my-code .inner {
    position: relative; }
    @media (min-width: 60em) {
      .see-my-code .inner {
        width: 84%;
        margin-left: 12%;
        margin-right: auto; } }
    @media (min-width: 75em) {
      .see-my-code .inner {
        width: 1000px;
        margin-left: auto;
        margin-right: auto; } }
  .see-my-code .close {
    display: inline-block;
    margin: 20px 0;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 1.25em;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #404040; }
    .see-my-code .close:before {
      content: "X";
      display: inline-block;
      margin-right: .5em;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      vertical-align: middle;
      color: transparent;
      background: url("http://cdn.mstrutt.co.uk/assets/images/arrow-sprite.png") no-repeat -45px -5px #888888;
      cursor: pointer;
      border-radius: 5px; }
    .see-my-code .close:active {
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px); }
  .see-my-code .view-code {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 1.6rem;
    line-height: 70px; }
    .see-my-code .view-code .button {
      margin-left: 1em; }
  .see-my-code span {
    display: inline-block;
    vertical-align: top; }
  @media (max-width: 59.9375em) {
    .see-my-code {
      display: none; } }

.is-hidden {
  height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

form {
  margin-bottom: 2rem; }

.button {
  position: relative;
  display: inline-block;
  background: #f29925;
  width: 100%;
  margin: 1rem 0;
  border: 0 none;
  font-size: 1.6rem;
  line-height: 4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .button:after {
    content: ">";
    position: absolute;
    right: 0;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left: 1.5rem;
    background: rgba(0, 0, 0, 0.16) url(http://cdn.mstrutt.co.uk/assets/images/arrow-sprite.png) no-repeat 0 0;
    color: transparent;
    cursor: pointer; }
  .button:focus, .button:active, .button:hover {
    background: #f77913;
    color: white; }
  .button.alt {
    background: #404040;
    /*&:hover {
    	background: $midgrey;
    }*/ }
  .button:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px); }
  @media (min-width: 33.75) {
    .button {
      width: auto;
      padding: 0 0 0 1.5rem; }
      .button:after {
        position: static; } }

/* Footer */
.footer {
  text-align: center; }
  .footer .social-links {
    position: relative;
    width: 93.75%;
    margin: 0 auto;
    overflow: hidden; }
    .footer .social-links:before, .footer .social-links:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      height: 2px;
      width: 50%;
      border: 1px solid #DCDCDC;
      border-width: 1px 0;
      z-index: -1; }
    .footer .social-links:before {
      left: 0;
      margin-left: -115px; }
    .footer .social-links:after {
      right: 0;
      margin-right: -115px; }

.go-to-top {
  font-size: 1.6rem; }

.copyright {
  font-size: 1.4rem;
  color: #bfbfbf; }

/* Homepage */
.skills-list {
  margin: 1em 0; }
  .skills-list > li {
    position: relative;
    border-top: 1px solid #D7D7D7; }
    .skills-list > li:first-child {
      border: 0 none; }
  .skills-list .text {
    display: block;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1.2rem 140px 1.2rem 0; }
  .skills-list .star-ratings {
    position: absolute;
    top: 1.1rem;
    right: 0; }
  .skills-list .with-sub {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }

.sub-skills {
  display: block;
  padding: 0 0 .3rem;
  margin-top: -0.3rem;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .sub-skills:before {
    content: "+";
    display: block;
    position: absolute;
    top: 0;
    right: 140px;
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-size: 30px;
    text-align: center;
    color: #6c6c6c; }
  .sub-skills.open:before {
    content: "-"; }
  .sub-skills:not(.open) {
    height: 0 !important; }
  .sub-skills > li {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: .5rem 0 .5rem 1.5rem;
    color: #404040; }

.star-ratings {
  display: block;
  width: 133px;
  height: 22px;
  overflow: hidden;
  background: url("http://cdn.mstrutt.co.uk/assets/images/rating-stars.png") -2px 0 repeat-x; }
  .star-ratings:after, .star-ratings:before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    height: 22px;
    width: 27px;
    background: white url("http://cdn.mstrutt.co.uk/assets/images/rating-stars.png") -2px -22px repeat-x; }
  .star-ratings:after {
    left: 0;
    background-position: -2px -44px; }
  .star-ratings.rating-is-1:after {
    width: 27px; }
  .star-ratings.rating-is-1:before {
    left: 27px; }
  .star-ratings.rating-is-2:after {
    width: 52px; }
  .star-ratings.rating-is-2:before {
    left: 52px; }
  .star-ratings.rating-is-3:after {
    width: 79px; }
  .star-ratings.rating-is-3:before {
    left: 79px; }
  .star-ratings.rating-is-4:after {
    width: 106px; }
  .star-ratings.rating-is-4:before {
    left: 106px; }
  .star-ratings.rating-is-5:after {
    width: 133px; }
  .star-ratings.rating-is-5:before {
    left: 133px; }

.latest-tweets {
  font-size: 1.4rem;
  line-height: 3rem;
  margin: 1em 0; }
  .latest-tweets > li {
    margin: 1.1rem 0;
    padding: 0 0 0 3.5rem;
    background: url("http://cdn.mstrutt.co.uk/assets/images/tweet-icon.png") 0 0.6em no-repeat; }

.read-more:after {
  content: " >"; }

/* Media Queries */
@media (min-width: 30em) {
  .home .header {
    padding: 0;
    height: 390px;
    text-align: right;
    border-bottom-color: rgba(63, 63, 63, 0.3); }
    .home .header:before {
      content: "";
      position: absolute;
      top: -56px;
      max-width: 535px;
      height: 456px;
      right: 30%;
      left: 0;
      bottom: -10px;
      background: url(http://cdn.mstrutt.co.uk/assets/images/illustration.png) right 100% no-repeat;
      background-size: auto 100%; }
    .home .header .logo {
      position: static; }
    .home .header .header-text {
      position: absolute;
      bottom: 5%;
      right: 0;
      left: 41.875%;
      margin: 0 3.125%; }
    .home .header .header-text-lower {
      background: none; }
      .home .header .header-text-lower:before {
        display: none; }
    .home .header .title {
      padding: 0;
      margin: 1.5rem auto 0;
      background: none; }
    .home .header .subtitle {
      margin-left: -25px; }
    .home .header .social-links {
      text-align: right; }
      .home .header .social-links > .twitter {
        margin-right: 0; }

  .header .primary-nav {
    width: 360px;
    right: 0; } }
@media (min-width: 40em) {
  .home .header:before {
    right: 40%; }
  .home .header .header-text {
    left: 40%; }
  .home .header .title strong {
    display: inline; }

  .home .main {
    font-size: 0;
    padding: 0; }
    .home .main > section {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding: 0 2rem; } }
@media (min-width: 60em) {
  .header,
  .main,
  .footer {
    width: 84%;
    margin-left: 12%;
    margin-right: auto; }

  .header {
    margin-top: 40px;
    border-top: 0 none;
    border-radius: 0 10px 0 0; }
    .header .primary-nav {
      opacity: 1;
      pointer-events: all;
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      width: 90px;
      z-index: -1;
      box-shadow: none; }
      .header .primary-nav > a {
        position: relative;
        display: block;
        width: auto;
        margin: 0 0 1rem;
        padding: 12% 0;
        border-radius: 5px 0 0 5px;
        box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.15); }
        .header .primary-nav > a:before {
          width: 66%;
          padding: 0 0 54%; }
    .header .logo {
      top: -28px;
      left: auto;
      right: 10px; }
    .header .title {
      margin: 0; }

  .home .header {
    height: 410px; }
    .home .header:before {
      top: -36px; }
    .home .header .logo {
      height: 120px;
      width: 120px;
      line-height: 130px;
      font-size: 54px; }

  .navicon {
    display: none; }

  .main {
    min-height: 360px; }

  .footer .social-links {
    width: auto; } }
@media (min-width: 75em) {
  .header,
  .main,
  .footer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto; }

  .main {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 2rem; }

  .home .main {
    padding: 0 4rem 2rem; }
    .home .main > section {
      padding: 0 4rem; }

  .header .title {
    padding-left: 8rem;
    padding-right: 8rem; } }
/* Contact */
.form-fields > li {
  display: table;
  width: 100%;
  margin: 1em 0; }
.form-fields .field {
  display: table-footer-group;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 3rem;
  padding: .5rem;
  font-size: 1.4rem;
  line-height: 2rem;
  border: 0 none;
  box-shadow: 0 0 1px #404040; }
  .form-fields .field.multiline {
    height: auto; }
  .form-fields .field:focus {
    box-shadow: 0 0 1px #404040, 0 0 5px #f77913;
    outline: none; }
.form-fields label {
  display: table-header-group;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media (min-width: 33.75em) {
  .form-fields {
    width: 80%;
    margin: 0 auto; } }
@media (min-width: 51.25em) {
  .form-fields > li {
    margin: 2em 0; }
  .form-fields .field,
  .form-fields label {
    display: block;
    float: right;
    margin: 0; }
  .form-fields .field {
    width: 70%;
    max-width: 70%; }
  .form-fields label {
    width: 30%; }
    .form-fields label:after {
      content: ":"; } }
.form-fields .honey {
  display: none; }

@media (min-width: 33.75em) {
  .contact form .button {
    margin-left: 10%; } }
@media (min-width: 51.25em) {
  .contact form .button {
    margin-left: 34%; } }

/* Portfolio */
.portfolio-section {
  position: relative;
  margin: 2rem 0;
  overflow: hidden;
  border-radius: 5px;
  background: #f3f3f3; }
  .portfolio-section.new:after {
    content: "New!";
    position: absolute;
    width: 100px;
    top: 51px;
    right: -20px;
    font-size: 2rem;
    line-height: 2.8rem;
    font-family: "Enriqueta", serif;
    font-weight: 700;
    background: #bfd75f;
    color: white;
    text-align: center;
    box-shadow: 0 0 3px -1px #6c6c6c;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .portfolio-section .image {
    display: block;
    height: 0;
    padding: 0 0 50%;
    margin: 0 0 -25%;
    background: 0 0 no-repeat #f3f3f3;
    background-size: 100%; }
  .portfolio-section .info {
    padding: 2rem;
    background-color: rgba(243, 243, 243, 0.8);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 243, 243, 0.8)), color-stop(0.75, #f3f3f3), color-stop(100%, #f3f3f3));
    background-image: -webkit-linear-gradient(top, rgba(243, 243, 243, 0.8), #f3f3f3 0.75, #f3f3f3);
    background-image: linear-gradient(to bottom,rgba(243, 243, 243, 0.8), #f3f3f3 0.75, #f3f3f3); }
  .portfolio-section .title {
    font-size: 2.6rem;
    line-height: 3rem;
    font-family: "Enriqueta", serif;
    font-weight: normal;
    color: #404040;
    margin: 0 0 .5em; }
  @media (min-width: 45em) {
    .portfolio-section .image {
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      height: auto;
      padding: 0;
      margin: 0;
      background-size: cover; }
    .portfolio-section .info {
      margin-left: 50%;
      background: #f3f3f3; } }

/* Blog */
.metadata {
  font-weight: normal; }
  .metadata > span,
  .metadata > time {
    font-weight: bold; }

.blog .main {
  margin-top: 0; }
.blog .single-post {
  position: relative;
  padding-top: 2.5rem; }
  .blog .single-post:before {
    content: "";
    display: block;
    position: absolute;
    top: 1.25rem;
    left: 0;
    right: 0;
    margin: -2px auto 0;
    height: 2px;
    width: 100%;
    border: 1px solid #DCDCDC;
    border-width: 1px 0; }

.markdown h2 {
  font-size: 2.2rem; }
.markdown h3 {
  font-size: 1.9rem; }
.markdown ul {
  list-style-type: disc;
  padding-left: 2em;
  margin: 1em 0; }
  .markdown ul li {
    margin: 0; }
  .markdown ul ul {
    list-style-type: circle;
    margin: 0; }
