<div class="social-links">
	<a aria-label="RSS feed" href="/rss.xml">
		<svg height="36" width="36">
			<title>RSS Feed</title>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rss"></use>
		</svg>
	</a>
	<a aria-label="LinkedIn" rel="me" href="https://uk.linkedin.com/pub/michael-strutt/51/712/561">
		<svg height="36" width="36">
			<title>LinkedIn</title>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
		</svg>
	</a>
	<a aria-label="Twitter @mstrutt_co_uk" rel="me" href="http://twitter.com/mstrutt_co_uk">
		<svg height="36" width="36">
			<title>Twitter @mstrutt_co_uk</title>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
		</svg>
	</a>
	<a aria-label="mstrutt on GitHub" rel="me" href="https://github.com/mstrutt">
		<svg height="36" width="36">
			<title>mstrutt on GitHub</title>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github-alt"></use>
		</svg>
	</a>
</div>